extends layout

block content
  nav.navbar.bg-dark
    div.container-fluid.px-5
      h1.navbar-brand.text-light.mb-0.h1= title
      p.navbar-brand.text-light Bruna Caetano
  div.container
    div.row
      div.col-6
        h2.mt-5.text-body-secondary Notas fiscais
      div.col-6
        if qntdNotas
          h5.mt-5.text-body-secondary.text-end Encontradas: #{qntdNotas}
    br
    div.row
      div.col-12
        div.row.row-cols-1.row-cols-md-3.g-4
          if notas
            each nota, i in notas
              div.col-md-3
                div.card
                  div.card-body
                    h5.card-title= nota.nfeProc.NFe.infNFe.dest.xNome
                    span.card-subtitle.mb-2.text-body-secondary.pe-3= nota.nfeProc.NFe.infNFe.ide.dEmi
                    span.badge.bg-primary= nota.nfeProc.NFe.infNFe.ide.nNF
                    p.card-text= nota.nfeProc.NFe.infNFe.emit.xNome
                    if nota.nfeProc.NFe.infNFe.det.length > 1
                      p.card-text Quantidades de produtos: #{nota.nfeProc.NFe.infNFe.det.length}
                    else
                      p.card-text Quantidade de produto: 1
                    a.card-link(href='http://localhost:8080/nota/' + (i + 1)) Ver JSON nota
          else
            br
            p Nao foi possivel encontrar nenhuma nota
          if maior
            div.col-md-3
              div.card
                div.card-body
                  h5.card-title Nota de maior valor
                    span.badge.bg-primary.m-3 #{maior}
    div.row
      if impostos
        h3.mt-5.text-body-secondary Impostos
        div.row
          div.col
            div.row.row-cols-1.row-cols-md-2.g-4
              div.col-md-6
                div.card
                  div.card-body
                    div.card-title
                      h4 ISSQN
                    p.card-text= impostos.issqn
              div.col-md-6
                div.card
                  div.card-body
                    div.card-title
                      h4 Tributos
                    p.card-text= impostos.tributos
              div.col-md-6
                div.card
                  div.card-body
                    div.card-title
                      h4 Produtos
                    p.card-text= valorProdutos
              div.col-md-6
                div.card
                  div.card-body
                    div.card-title
                      h4 Frete
                    p.card-text= valorFrete
          div.col-md-6
            div.card
              div.card-body
                div.card-title
                  h4 ICMS
                span.card-text
                  div.row
                    div.col-6
                      span COFINS: #{impostos.icms.COFINS}
                      br
                      span BCST: #{impostos.icms.BCST}
                      br
                      span Prod: #{impostos.icms.Prod}
                      br
                      span Seg: #{impostos.icms.Seg}
                      br
                      span NF: #{impostos.icms.NF}
                      br
                      span PIS: #{impostos.icms.PIS}
                      br
                      span BC: #{impostos.icms.BC}
                    div.col-6
                      span ST: #{impostos.icms.ST}
                      br
                      span ICMS: #{impostos.icms.ICMS}
                      br
                      span II: #{impostos.icms.II}
                      br
                      span Desc: #{impostos.icms.Desc}
                      br
                      span Outro: #{impostos.icms.Outro}
                      br
                      span IPI: #{impostos.icms.IPI}
                      br
                      span Frete: #{impostos.icms.Frete}

    div.row
      div.col-6
        h2.mt-5.text-body-secondary Produtos
      div.col-6
        if qntdNotas
          h5.mt-5.text-body-secondary.text-end Encontrados: #{qntdProdutos}
    div.row
      h4.mt-5.text-body-secondary Por notas fiscal
      div.row
        div.col-12
          div.row.row-cols-1.row-cols-md-1.g-2
            if produtos
              each produto in produtos
                div.col-md-6
                  div.card
                    div.card-body
                      h5.card-title= produto.xProd
                      p.card-subtitle Nota fiscal
                        span.badge.bg-primary.m-3 #{produto.nNF}
                      div.row
                        div.col-6
                          p.card-text Quantidade: #{produto.indTot}
                          p.card-text Valor unitario: #{produto.vUnTrib}
                          p.card-text Valor total: #{produto.vProd}
                        div.col-6
                          - var imposto = produto.impostos[0]
                          if imposto.ICMS.ICMS60 !== undefined
                            p.card-text ICMS: #{imposto.ICMS.ICMS60.vICMSSTRet}
                          else if imposto.ICMS.ICMS00 !== undefined
                            p.card-text ICMS: #{imposto.ICMS.ICMS00.pICMS}
                          if imposto.PIS.PISAliq !== undefined
                            p.card-text ISSQN: #{imposto.PIS.PISAliq.vPIS}
                          else if imposto.PIS.PISNT !== undefined
                            p.card-text ISSQN: #{imposto.PIS.PISNT.CST}

                          //p.card-text ISSQN: #{imposto.IPI }
                      //span.badge.bg-primary= nota.nfeProc.NFe.infNFe.ide.nNF
                      //p.card-text= nota.nfeProc.NFe.infNFe.emit.xNome
                      //a.card-link(href='http://localhost:8080/nota/' + (i + 1)) Ver JSON nota
            else
              br
              p Nao foi possivel encontrar nenhum produto
            if maior
              div.col-md-6
                div.card
                  div.card-body
                    h5.card-title Produto mais barato
                    p.card-subtitle.text-secondary= barato
